body{
background-color: white;
/*background-color: #22486e;*/
font-family: 'Titillium Web', sans-serif;
color: #575757;
text-shadow: none;
}
.ui-btn-up-c{background-color: white;}
/*colors
orange: ffcd67;
blue: #0D367A;
*/


/*begin top bar*/
.top_bar{
/*font-family: 'Yanone Kaffeesatz', sans-serif;*/
font-family: 'Fjalla One', sans-serif;
font-weight: 100;
font-size:28px;
letter-spacing: 2px;
color: white;
padding-top:10px;
padding-bottom: 10px;
}


/*begin footer*/
.footer{font-size:10px;
color: #575757;
letter-spacing: 2px;
width:100%;
margin: 0;
position: fixed;
bottom:0;
left: 0;
padding: 10px;
}

/* both keertan & programs */
.programs .cityName{font-size:24px;
font-family: 'Fjalla One', sans-serif;
letter-spacing: 1px;
margin-left: 0px;
background-color: #ffcd67;
padding: 10px;
text-transform: uppercase;
text-shadow: none;
color: #0D367A;
}

.ui-btn-up-a {text-shadow: none;
}




/*begin programs page*/

.smagamBox{
	width:100%;
  background-color: #0D367A;
  padding: 0px;
}

.smagamName{font-size: 20px;
font-family: 'Fjalla One', sans-serif;
letter-spacing: .1px;
padding-bottom: 10px;
margin-top: 0px;
padding-top: 10px;
}

.smagamName .ui-link{
text-transform: uppercase;
letter-spacing: 1px;
font-family: 'Fjalla One', sans-serif;
font-weight: normal;
background-color: #ffcd67;
padding: 10px;
text-decoration: none;
color: #0D367A;
}
.smagamName .ui-link:hover{color:#0D367A;}

.programs_other .smagamDate{font-size: 18px;
font-family: 'Roboto', sans-serif;
background-color: #0D367A;
color: white;
margin-bottom: 10px;
padding: 10px;
}

.programs_city .cityName{background-color: #0D367A;
color: white;}

.programs_city .smagamDate{font-size: 18px;
font-family: 'Roboto', sans-serif;
background-color: #0D367A;
color: white;
margin-bottom: 10px;
}

.newboxes{color: black;
display: none;
padding: 10px;
background-color: #eee;
}
 
.newboxes p{font-size: 14px;
padding-top: 10px;
font-weight: normal;
font-family: 'Titillium Web', sans-serif;
}


.newboxes p .ui-link{
padding: 0px;
font-size: 14px;
text-transform: none;
letter-spacing: 0px;
color: #0D367A;
margin-left: 2px;
margin-right: 2px;
background: none;}
 
 .newboxes b{
font-family: 'Titillium Web', sans-serif;
}
 
.hidden{display:none;}

/*begin Keertan Page*/
.keertanPage{
font-family: 'Fjalla One', sans-serif;
color: #0D367A;
}
.keertanUrl{
width: 100%;
height: 30px;
font-size: 12px;
letter-spacing: -.5px;

}


.program_type{
font-size: 16px;
color: #666;
margin-bottom: 10px;
}

.program_day{
font-size:20px;
background-color: #ffcd67;
margin-bottom: 5px;
}

.time{float: left;
width:24%;
}

.track{float: left;
width: 74%;}

.track .ui-link{color: #0D367A;
text-decoration: none;
text-shadow:none;
font-family: 'Roboto', sans-serif;


}
 
 /*modifying theme*/



.ui-li-desc{
white-space:normal;
}

.ui-li-heading
{
font-family: 'Titillium Web', sans-serif;
font-size: 30px;
}

.ui-btn-text{font-size: 10px;}

/*
.mainMenu {width:300px;
padding-bottom: 10px;
text-transform: uppercase;
font-size:14px;
letter-spacing: -.5px;
margin-left: -15px;
margin-bottom: 10px;}

.mainMenu ul {margin:0;
padding: 0;
list-style-type: none;
text-align:left;}
.mainMenu ul li {display: inline;
padding: 5px;}
.mainMenu ul li a{text-decoration: none;
padding: 0px;}
.mainMenu ul li a:hover{color: white;
border-bottom: 1px dotted white;}*/








/*.programs{width: 300px;}*/



























