
/*page background*/
.pageback  { background-color:C0C0C0; }

/*white background*/
.whaitenack {background-color:FFFFFF;}

/* Top Background*/
.topback { 
  background-image: url(images/hedr.jpg);
cursor : pointer;
}

/* red text */
.red {color: #FF0000; }

/*Hukumnama Background*/
.aniback{ background-image: url(images/hukumnama_back.jpg); }


/*bottom background*/
.footerback2 { background-color:#003366; }

/*Photo Border*/
.Photoborder  { background-color:738FAB; padding: 3px; }


/*page border*/
.pageborder {border-style: solid; border-width:1px; border-color: #000000 #000000 #000000 #000000; }


.border {border-style: solid; border-width:1px; border-color: #000000 #000000 #000000 #000000; }


 /*Sky-blue-back*/
.skyblueback {background-color:66CCFF;}

/* Text related styles */
.NewFlag {font-family:arial,verdana,mss sans serif;font-size:11px;font-weight:normal;color:#FF0033;padding-left:0px;padding-right:00px;line-height:15px;}
.txt_blue {font-family:arial,verdana,mss sans serif;font-size:11px;font-weight:normal;color:#3333CC;padding-left:0px;padding-right:00px;line-height:15px;}
.txt_footer2{font-family:Arial,verdana,mss sans serif;font-size: 11px;font-weight:Bold;color:#738FAB;padding-left:0px;padding-right:00px;line-height:17px;}

/* Style for table header cell */
th {font-family:arial,verdana,mss sans serif;font-size:12px;font-weight:Bold;color:#000000;padding-left:0px;padding-right:00px;line-height:15px;}
td {font-family:arial,verdana,mss sans serif;font-size:11px;font-weight:normal;color:#000000;padding-left:0px;padding-right:00px;line-height:18px;}

/* Styles for keertan table */

.Header {font-family:arial,verdana,mss sans serif;font-size:14px;font-weight:Bold;color:#000000;padding-left:0px;padding-right:00px;line-height:15px;}
.Secondary {font-family:arial,verdana,mss sans serif;font-size:11px;font-weight:normal;color:#000000;padding-left:0px;padding-right:00px;line-height:15px;}
.DateTime {font-family:arial,verdana,mss sans serif;font-size:11px;font-weight:normal;color:#000000;padding-left:0px;padding-right:00px;line-height:15px;}
.title {font-family:arial,verdana,mss sans serif;font-size:13px;font-weight:Bold;color:#000000;padding-left:0px;padding-right:00px;line-height:15px;}
.subtitle {font-family:arial,verdana,mss sans serif;font-size:12px;font-weight:Bold;color:#000000;padding-left:0px;padding-right:00px;line-height:15px;}

/* Styles for literature table */

.whatsNew{ background-repeat: no-repeat; background-position: left; padding-left:10px; padding-right:5px;}
.reader-comments{ background-repeat: no-repeat; background-position: right; padding-left:10px; padding-right:5px;}
.gurbanee{ background-image: url(images/gurbanee.gif); background-repeat: no-repeat; background-position: left; padding-left:10px; padding-right:5px;}
.books{ background-image: url(images/books.gif); background-repeat: no-repeat; background-position: left; padding-left:10px; padding-right:5px;}
.tracts{ background-image: url(images/tracts.gif); background-repeat: no-repeat; background-position: left; padding-left:10px; padding-right:5px;}
.articles{ background-image: url(images/articles.gif); background-repeat: no-repeat; background-position: right; padding-left:10px; padding-right:5px;}

/* Common styles */
.Chapter {font-family:arial,verdana,mss sans serif;font-size:14px;font-weight:Bold;color:#000000;padding-left:0px;padding-right:00px;line-height:15px;}